ppt/
pdf/

d2l_zh_jupyter/self_exercise/.ipynb_checkpoints/
d2l_zh_jupyter/self_exercise/_pycache_/

d2l_zh_jupyter/.ipynb_checkpoints/
.ipynb_checkpoints/
**/__pycache__/
**/.ipynb_checkpoints/
**/.DS_Store

d2l_zh_jupyter/data/cifar-10-batches-py/
d2l_zh_jupyter/data/cifar-10-python.tar.gz

d2l_zh_jupyter/data/kaggle_dog_tiny/
d2l_zh_jupyter/data/kaggle_dog_tiny.zip

d2l_zh_jupyter/data/kaggle_cifar10_tiny/
d2l_zh_jupyter/data/kaggle_cifar10_tiny.zip

d2l_zh_jupyter/self_exercise/.DS_Store